Repository joshhn/campuslabsChromeExtension: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pyright, sync-poetry-lock

pylint:
  description: A static code analyzer.
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - -rn
  - -sn

pyright:
  description: A static type checker.
  name: pyright
  entry: poetry run pyright
  language: system

sync-poetry-lock:
  name: Sync poetry.lock
  description: A check that the poetry.lock has been synced with any changes in pyproject.toml.
  language: system
  entry: poetry lock --no-update
  pass_filenames: false

Fix bugs in CI
  popup/popup.css
  popup/popup.html
Due: none

add ui changes to popup
  popup/popup.css
  popup/popup.html
Due: none

add dynamic data
  popup/popup.css
  popup/popup.html
  popup/popup.js
Due: none

Fix bugs in CI
  .gitignore
  popup/popup.js
Due: none

Implement UI for the extension (#10)
  .gitignore
  popup/popup.css
  popup/popup.html
  popup/popup.js
Due: none

add icons
  images/icon128.png
  images/icon16.png
  images/icon32.png
  images/icon48.png
  manifest.json
Due: none

Update manifest.json
  manifest.json
Due: none

Refactor the project
  api/fetchEventsData.js
  data-scraper/campuslabs_events_data.json
  data-scraper/scraper.py
  images/calendar-icon.png
  images/depauw-icon.png
  manifest.json
  options/options.css
  options/options.html
  options/options.js
  poetry.lock
  popup/popup.css
  popup/popup.html
  popup/popup.js
  scripts/background.js
  scripts/content-script.js
  scripts/icon-script.js
  service-worker.js
Due: pylint, pyright

Refactor the project (#6)
  api/fetchEventsData.js
  data-scraper/campuslabs_events_data.json
  data-scraper/scraper.py
  images/calendar-icon.png
  images/depauw-icon.png
  images/icon128.png
  images/icon16.png
  images/icon32.png
  images/icon48.png
  manifest.json
  options/options.css
  options/options.html
  options/options.js
  poetry.lock
  popup/popup.css
  popup/popup.html
  popup/popup.js
  scripts/background.js
  scripts/content-script.js
  scripts/icon-script.js
  service-worker.js
Due: pylint, pyright

Add notification and alarm
  poetry.lock
  popup/popup.html
  popup/popup.js
  scripts/background.js
  scripts/kit.fontawesome.js
Due: none

Add notification click behavior
  manifest.json
  scripts/background.js
Due: none

Update background.js
  scripts/background.js
Due: none

Add notification feature (#7)
  manifest.json
  poetry.lock
  popup/popup.html
  popup/popup.js
  scripts/background.js
  scripts/kit.fontawesome.js
Due: none

Fetch data from github
  api/fetchEventsData.js
  popup/popup.js
  scripts/background.js
Due: none

fix minor css issues
  popup/popup.css
  popup/popup.html
  popup/popup.js
Due: none

fix minor css issues (#16)
  popup/popup.css
  popup/popup.html
  popup/popup.js
Due: none

Set time for alarm
  scripts/background.js
Due: none

Change approach to fetch data from Github (#15)
  api/fetchEventsData.js
  popup/popup.js
  scripts/background.js
Due: none

Setup alarm to update data daily
  popup/popup.js
  scripts/background.js
Due: none

Setup alarm to update data daily (#18)
  popup/popup.js
  scripts/background.js
Due: none

Organize the file and add eslint
  .github/workflows/lint.yml
  api/fetchEventsData.js
  popup/popup.js
  scripts/background.js
Due: none

delete lint.yml
  .github/workflows/lint.yml
  popup/popup.js
Due: none

Update data
  data-scraper/campuslabs_events_data.json
Due: none

Setup alarm to update data daily (#18)
  manifest.json
  popup/popup.js
  pyproject.toml
  scripts/background.js
Due: sync-poetry-lock

Add cron job
  .github/workflows/cron.yml
  data-scraper/campuslabs_events_data.json
  manifest.json
  pyproject.toml
Due: sync-poetry-lock

Reorganize files (#19)
  .github/workflows/cron.yml
  api/fetchEventsData.js
  data-scraper/campuslabs_events_data.json
  manifest.json
  popup/popup.js
  pyproject.toml
  scripts/background.js
Due: sync-poetry-lock

test cron
  .github/workflows/cron.yml
Due: none

Modify the schedule time
  .github/workflows/cron.yml
Due: none

Modify schedule time
  .github/workflows/cron.yml
Due: none

Add workflow-dispatch
  .github/workflows/cron.yml
Due: none

Add dependencies in cron job
  .github/workflows/cron.yml
Due: none

Add dependencies in cron job
  .github/workflows/cron.yml
  data-scraper/scraper.py
Due: pylint, pyright

Update scraper.py
  data-scraper/scraper.py
Due: pylint, pyright

Fix bugs in cron job
  .github/workflows/cron.yml
  data-scraper/scraper.py
Due: pylint, pyright

Path conditions:
  pylint: any of: \.py$
  pyright: any of: \.py$
  sync-poetry-lock: any of: ^pyproject.toml$
