Repository joshhn/campuslabsChromeExtension: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pyright, sync-poetry-lock

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.1.3
    hooks:
      - id: pycln
        description: "A formatter for finding and removing unused import statements."
        args: [--config=pyproject.toml]
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        description: "A utility to sort imports alphabetically, and automatically separated into sections and by type."
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        description: "A PEP8 compliant code formatter."
        language_version: python3.11
  - repo: local
    hooks:
      - id: pylint
        description: "A static code analyzer."
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        args:
          [
            "-rn", # Only display messages
            "-sn", # Don't display the score
          ]
      - id: pyright
        description: "A static type checker."
        name: pyright
        entry: poetry run pyright
        language: system
        types: [python]
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        description: "A static analysis tool for checking compliance with Python docstring conventions."
        args: [--config=pyproject.toml]
  - repo: local
    hooks:
      - id: sync-poetry-lock
        name: Sync poetry.lock
        description: "A check that the poetry.lock has been synced with any changes in pyproject.toml."
        language: system
        entry: poetry lock --no-update
        files: ^pyproject.toml$
        pass_filenames: false

Change the chrome driver
  data-scraper/scraper.py
Due: pylint, pyright

Modify cron job
  .github/workflows/cron.yml
Due: none

Add webdriver_manager
  poetry.lock
  pyproject.toml
Due: sync-poetry-lock

Fix bugs in cron job (#20)
  .github/workflows/ci.yml
  data-scraper/scraper.py
Due: pylint, pyright

Update data automatically
  cron_script.ps1
  cron_script.sh
Due: none

Update data automatically
  data-scraper/scraper.py
Due: pylint, pyright

Update data automatically
  data-scraper/campuslabs_events_data.json
  data-scraper/scraper.py
Due: pylint, pyright

Update data automatically
  cron_script.ps1
  cron_script.sh
  poetry.lock
Due: none

Auto update data at Thu Apr 27 16:51:10 EDT 2023
  data-scraper/scraper.py
Due: pylint, pyright

Auto update data at Thu Apr 27 16:59:23 EDT 2023
  data-scraper/scraper.py
Due: pylint, pyright

Fix bugs
  cron_script.ps1
  cron_script.sh
Due: none

Fix bugs
  cron_script.ps1
  data-scraper/campuslabs_events_data.json
  data-scraper/scraper.py
Due: pylint, pyright

add ci in main
  .github/workflows/ci.yml
Due: none

Setup cron job (#21)
  .github/workflows/cron.yml
  cron_script.ps1
  cron_script.sh
  data-scraper/campuslabs_events_data.json
  data-scraper/scraper.py
  poetry.lock
Due: pylint, pyright

fix daily notification toggle ui
  api/fetchEventsData.js
  popup/popup.html
  popup/popup.js
  scripts/background.js
Due: none

fix daily notification toggle ui (#23)
  api/fetchEventsData.js
  popup/popup.html
  popup/popup.js
  scripts/background.js
Due: none

Update data and add architecture
  data-scraper/campuslabs_events_data.json
  data-scraper/scraper.py
  images/architecture.png
  images/octotiger.png
  scripts/background.js
Due: pylint, pyright

add event tag feature
  popup/organizations.js
  popup/popup.css
  popup/popup.html
  popup/popup.js
Due: none

fix ci
  popup/organizations.js
  popup/popup.css
Due: none

fix ci
  popup/popup.css
Due: none

fix ci trailing whitespace
  popup/popup.js
Due: none

add event tag feature (#25)
  popup/organizations.js
  popup/popup.css
  popup/popup.html
  popup/popup.js
Due: none

Create LICENSE
  LICENSE
Due: none

Add readme
  README.md
Due: none

add dark mode
  popup/popup.css
Due: none

add dark mode (#27)
  popup/popup.css
Due: none

Fix bugs in scraper and update readme
  README.md
  data-scraper/campuslabs_events_data.json
  data-scraper/scraper.py
Due: pylint, pyright

Write readme (#26)
  LICENSE
  README.md
  data-scraper/campuslabs_events_data.json
  data-scraper/scraper.py
  images/architecture.png
  images/octotiger.png
  scripts/background.js
Due: pylint, pyright

Update README.md
  README.md
Due: none

Fix typo in Readme
  README.md
Due: none

Fix typo in Readme (#31)
  README.md
Due: none

add dark mode toggle button
  popup/popup.css
  popup/popup.html
  popup/popup.js
  scripts/background.js
Due: none
